.weather-list{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.title-under-chart{
  margin-top: 1rem;
}

.weather{

  padding: 1rem;
  flex: 1;

  margin-right: 0.5rem;
  margin-left: 0.5rem;
  &:last-child{
    margin-right: 1rem;
  }
  &:first-child{
    margin-left: 1rem;
  }
}
